#audioPlayer{


position:fixed;


bottom:25px;


left:50%;


transform:translateX(-50%);



width:80vw;

max-width:900px;

min-height:130px;



background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.15);



backdrop-filter:

blur(25px);



-webkit-backdrop-filter:

blur(25px);



border-radius:80px;



display:flex;



align-items:center;



padding:20px 30px;



gap:25px;



z-index:9000;



box-shadow:

0 20px 60px rgba(0,0,0,.5);



}





.audioCircle{


position:relative;


width:85px;


height:85px;



display:flex;



align-items:center;



justify-content:center;



flex-shrink:0;


}






#audioPlay{


width:70px;


height:70px;



border-radius:50%;



border:none;



cursor:pointer;



font-size:25px;



color:white;



background:

linear-gradient(
135deg,
#2D9CFF,
#00FFB2
);



z-index:2;



box-shadow:

0 0 25px rgba(45,156,255,.5);



transition:.3s;



}



#audioPlay:hover{


transform:scale(1.1);


}






.pulseRing{


position:absolute;



width:80px;


height:80px;



border-radius:50%;



background:#2D9CFF;



opacity:.5;



filter:blur(5px);



transition:.1s;



}





.playing .pulseRing{


animation:

pulseAudio 1s infinite;


}





@keyframes pulseAudio{


0%{


transform:scale(1);


opacity:.7;


}



100%{


transform:scale(2.2);


opacity:0;


}


}







.audioInfo{


flex:1;



min-width:0;



overflow:hidden;



}



#audioTitle{


font-size:17px;



font-weight:600;



margin-bottom:8px;



color:white;



}



#audioText{


font-size:14px;



color:#B8C1D1;



white-space:nowrap;



overflow:hidden;



text-overflow:ellipsis;

font-family: "Iransans";
direction: rtl;
margin-top: -30px;
}





.audioWave{


display:flex;



gap:5px;



align-items:center;



flex-shrink:0;



}



.audioWave span{


width:5px;



height:15px;



border-radius:10px;



background:#2D9CFF;



box-shadow:

0 0 10px #2D9CFF;



}



.playing .audioWave span{


animation:

waveAudio .5s infinite alternate;


}






.audioWave span:nth-child(2){

animation-delay:.1s;

}



.audioWave span:nth-child(3){

animation-delay:.2s;

}



.audioWave span:nth-child(4){

animation-delay:.3s;

}






@keyframes waveAudio{


from{


height:10px;


}



to{


height:40px;


}


}







/* Tablet */


@media(max-width:900px){


#audioPlayer{


width:90vw;


padding:18px;


}



}





/* Mobile */


@media(max-width:600px){



#audioPlayer{


width:92vw;



bottom:15px;



min-height:95px;



border-radius:45px;



padding:12px 18px;



gap:15px;



}



.audioCircle{


width:65px;


height:65px;


}




#audioPlay{


width:55px;


height:55px;


font-size:20px;


}




.pulseRing{


width:60px;


height:60px;


}




#audioTitle{


font-size:0px;


}



#audioText{


font-size:12px;
margin-top: 0;

}



.audioWave{


display:none;


}


}